.text-pink-500 {
  color: #d4a245 !important;
}

.text-pink-400 {
    color: #e4ae4a !important;
}

.bg-pink-500 {
    background-color: #d4a245 !important;
}

.p-selectbutton .p-button.p-highlight {
    background-color: #d4a245 !important;
    border-color: #d4a245 !important;
}

@media screen and (max-width: 640px) {
  .p-stepper-nav {
    display: none !important;
  }
  
}